.header-of-page {
background-color: violet;
width: 100%;
    height: 300px;
}
.navication {
    background-color: black;
    width: 100%;
    height: 6
    
    00px;
}
.fixloi {
    width: 80%;
    height: 300px;
}
.section-of-page {
    width: 100%;
    height: 150px;
    background-color: blue
}

.article-of-page {
    width: 100%;
    height: 150px;
    background-color: brown;
}
.aside-of-page {
    width: 20%;
    height: 300px;
    background-color: orange
}
.divinside {
    display: flex;
}